@font-face{font-family:'boldfont';src:url("../BrandonGrotesqueBold.woff2.ttf") format('truetype');}
@font-face{font-family:'lightfont';src:url("../Brandon_light.otf") format('truetype');}
body{color:#353535;background-color: rgb(241, 241, 241);margin: 0;width: 100%;height: 100%;font-family: "boldfont"}
a{color:rgb(59, 59, 59) }
a:hover{text-decoration-line: underline;text-decoration-color:rgb(233, 233, 233);}
a:link{text-decoration-line:none ;}
nav ul li {width:100%;text-align: center;}
nav ul, nav ol {list-style: none; list-style-image: none;}
#main{width: 100%;height:100%;text-align: center;}
#top{ width: 100%;height: 152px;position: fixed;top:0px;left:0px;background-color:rgb(245,245,245);}
#top_icon{width:57px;height:57px;margin-left:45px;margin-top:45px;cursor:pointer;-webkit-transition-duration:0.2s;
            transition-duration:0.2s;transition-property:all;transition-delay: 0s;overflow:hidden;pointer-events:all;}
svg line{stroke-width:3;stroke:#353535;;-webkit-transition-duration:0.2s;transition-duration:0.2s;transition-property:all;transition-delay: 0s;}
#top_icon:hover 
svg line.icon_top{-webkit-transform:translate3d(0, -3px, 0);transform:translate3d(0, -3px, 0)}
#top_icon:hover 
svg line.icon_bottom{-webkit-transform:translate3d(0, 3px, 0);transform:translate3d(0, 3px, 0)}
#menu_before{width: 100%;height:100%;position: fixed;top:0px;left:0px;right:0px;left:0px;z-index:27;
    background-color: rgba(0,0,0,0.5);}
#menu_frame{width: 480px;height: 650px;border: 20px solid rgb(233, 233, 233);position: absolute;
    left: 35%; top: 20%;z-index: 30;text-align: center;}
#menu_frame nav ul li {color: rgb(233, 233, 233);margin-top: 70px;margin-bottom: 30px;margin-left: -40px;font-size: 4em;
} 
#top_logo{width:54px;height:33px;position:absolute;top:65px;left:50%;margin-left: -27px;}
#svg_logo{height: 33px;}
#top_close{position: absolute;width: 57px; height: 57px;right: 57px;top: 45px;pointer-events: all;cursor: pointer;}
#toHomepage{position: absolute;width: 57px; height: 57px;right: 87px;top: 45px;pointer-events: all;}
#scrollDown{position: fixed;width: 200px;height: 45px;left: 50%;margin-left: -100px;bottom: 25px;z-index: 70;
    stroke:black;stroke-width: 4px;opacity: 0.5;}
.content {width: 100%;height:3925px;margin-top: 150px;text-align: center;}
.title{width: 100%;height: 224px;text-align: center;margin: auto;}
.small_title{width: 70%;margin-top: 150px;margin-right: auto;margin-left: auto;margin-bottom: 100px;}
.memory{margin-top:150px;z-index: 0;}
.memory a {color: rgb(59, 59, 59);}
.memory span{font-size: 1.7em;line-height:1em;position:absolute;text-align:center;width:100%;
    top:-40px;left: -10px;opacity: 0;-webkit-transition:0.3s cubic-bezier(0.11, 0.925, 0.47, 0.98);transition:0.3s cubic-bezier(0.11, 0.925, 0.47, 0.98);
     pointer-events:none}
.memory_left{width: 490px;height: 400px;z-index: 1;background-color:#E9E9E9;border: 0;position: absolute;
    left: 18%;top:841px;transition-property: all;transition-duration: 0.2s;transition-delay:0s;
    -webkit-transition-property: all;-webkit-transition-duration: 0.2s;-webkit-transition-delay: 0s; }
.memory_left:hover{ border:20px solid rgb(160, 158, 158)}
.memory_left:hover span{position:absolute;top:20px;left: 0px;opacity: 1;}
.memory_middle{width: 490px;height: 400px;z-index: 2;background-color:#E9E9E9;border: 0;position: absolute;
    left:38%;top:695px;}
.memory_middle:hover{border:20px solid rgb(160, 158, 158)}
.memory_middle:hover span{position:absolute;top:20px;left: 0px;opacity: 1;}
.memory_right{width: 490px;height: 400px;z-index: 1;background-color: #E9E9E9;border: 0;position: absolute;
    right: 18%;top: 999px;}
.memory_right:hover{border:20px solid rgb(160, 158, 158)}
.memory_right:hover span{position:absolute;top:20px;left: 0px;opacity: 1;}
.memory_pic{position:absolute;width:200px;height:200px;left:26%;top:26%;}
#about{width: 900px;height:50px;margin: auto;}
#about p {font-family: "lightfont";display: block;font-size: 1.1em;text-indent: 2em;letter-spacing: 1px;margin-left: 2em;margin-right: 2em;text-align: center;}
.project{width: 100%;height:1300px;margin-top: 150px;text-align: center;z-index: 1;}
#MJ{width: 500px;height: 500px;z-index: 13;position:absolute;top:650%;right: 10%;}
#MT{width: 500px;height: 500px;z-index: 13;position:absolute;top:700%;left: 10%;}
.project img {width: 600px;height:400px;}
.project p{font-family: "lightfont";font-size: 1.2em;display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;
    text-indent: 2em;letter-spacing: 1px;margin-left: 2em;margin-right: 2em;}
.project a {color: aliceblue;}
#Tip{width:480px;height: 900px;float: left;border: 1px solid #eee;margin-top: 5%}
#Tip2{margin-right: 10%;width:1000px;height: 900px;float: right;border:0px solid #000;}
#tip3{width:480px;height:496px;border: 1px solid rgb(59, 59, 59);margin-bottom: 2%;margin-left: 25%;text-align: center;}
#tip1{width:480px;height:400px;border: 1px solid rgb(59, 59, 59);margin-left: 25%;}
#thanks{width: 100%;margin-top:60%;text-align: center;}